@import '../vars.scss';

app-component {
  font-family: 'Roboto';

  #app-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $color-thunder-blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .mat-tab-list {
    .mat-ink-bar {
      background-color: $color-thunder-blue !important;
    }
  }
}