/* player-summary.component.scss */

.player-summary-component {
  /* Style the entire component */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  /* Style the loading message */
  .loading-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  /* Style the error message */
  .error-message {
    font-size: 18px;
    font-weight: bold;
    color: #f00;
  }

  /* Style the player summary data */
  .player-summary-data {
    font-size: 16px;
    color: #555;
    margin-top: 10px;

    /* Style individual data points */
    p {
      margin: 5px 0;
    }

    /* Style the retry button */
    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      margin-top: 10px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
    /* Style the shot chart */
  .shot-chart {
    /* Set the size and background color of the shot chart container */
    width: 100%;
    height: 300px;
    background-color: #eee;
    position: relative; /* Make it a relative position container for absolute positioning of shot points */

    .hoop {
      width: 20px;
      height: 20px;
      background-color: #ff5733; 
      border-radius: 50%;
      position: absolute;
      bottom: 0; /* Position it at the bottom-center */

    }

    /* Style individual shot points */
    .shot-point {
      /* Define the style for each shot point */
      width: 10px;
      height: 10px;
      background-color: #007bff;
      border-radius: 50%;
      position: absolute;

      /* Set the default position for the shot points */
      bottom: calc((100% - 7.8ft) / 23.75ft * var(--locationY));
      left: calc((100% - 22ft) / 23.75ft * var(--locationX)); /* Adjusted based on Three-Point Line distance */

    }
  }
}